@charset "UTF-8";

/*----------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
											汎用
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------*/
body {
  overflow: hidden;
}
/*コンテナ*/
.container-s{
	margin: 0 auto;
	max-width: 900px;
	width: 80%;
}
.container-m{
	margin: 0 auto;
	max-width: 1000px;
	width: 90%;
}
/*汎用flex*/
.flex {
  display: flex;
}
/* color変数 */
:root {
	--primary:#ffcc00;
	--secondary:#b20000 ;
	--tertiary:#333333;
	--font:#000;
	--red:#ff0000;
	--border:#5f6060;
	--header:#ffcc0088;
}

/*--------------------------------------------------------------------------
部品
--------------------------------------------------------------------------*/
.primary{
	background-color: var(--primary);
	width: 50px;
	height: 50px;
}
.secondary{
	background-color: var(--secondary);
	width: 50px;
	height: 50px;
}
.tertiary{
	background-color: var(--tertiary);
	width: 50px;
	height: 50px;
}

/*------------------------------------
アコーディオン機能
------------------------------------*/
.accordion {
	height: 0;
	overflow: hidden;
}
.view-all.close {
	display: none;
}
.view-all {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	color:var(--blueline);
	font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}
.accordion-active {
  height:auto;
}
#front .lunch .menu li h4 {
  font-weight: 700;
}
#front .lunch .menu li .desc {
  border-bottom: 1px solid #707070;
}
#front .lunch .menu li .price {
  text-align: right;
}

/*------------------------------------
ヘッダー
------------------------------------*/
header{
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	background-color: var(--primary);
	height:10rem;
}
header .container-m{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
}
header .container-m h1{
	font-size: 3rem;
	font-weight: 700;
	color: var(--font);
	display: block;
	width:20rem;
}
header .container-m nav.pc li {
	margin:0 10px;
}
header .container-m nav.pc li a{
	font-size: 1.4rem;
	font-weight: 700;
}
header .container-m nav.pc li.contact{
	background-color: var(--tertiary);
	padding: 4px 8px;
}
header .container-m nav.pc li.contact img{
	margin-right: 5px;
}
header .container-m nav.pc li.application{
	background-color: #fff;
	padding: 4px 8px;
}
header .container-m nav.pc li.contact a{
	color:#fff;
}
