@charset "UTF-8";

/*----------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
											汎用
------------------------------------------------------------------------------------------
------------------------------------------------------------------------------------------
----------------------------------------------------------------------------------------*/
body {
  overflow: hidden;
}
/*コンテナ*/
.container-s{
	text-align: center;
	margin: 0 auto;
	max-width: 900px;
	width: 90%;
}
.container-m{
	margin: 0 auto;
	max-width: 1000px;
	width: 90%;
}
/*汎用flex*/
.flex {
  display: flex;
}
/* color変数 */
:root {
	--primary:#ffcc00;
	--secondary:#b20000 ;
	--tertiary:#333333;
	--font:#000;
	--red:#ff0000;
	--border:#5f6060;
	--header:#ffcc0088;
	--topbtn:#333333aa;
	--white: #fff;
}

/*--------------------------------------------------------------------------
部品
--------------------------------------------------------------------------*/
.primary{
	background-color: var(--primary);
	width: 50px;
	height: 50px;
}
.secondary{
	background-color: var(--secondary);
	width: 50px;
	height: 50px;
}
.tertiary{
	background-color: var(--tertiary);
	width: 50px;
	height: 50px;
}

/*------------------------------------
アコーディオン機能
------------------------------------*/
.accordion {
	height: 0;
	overflow: hidden;
}
.view-all.close {
	display: none;
}
.view-all {
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 10px;
	color:var(--blueline);
	font-size: 16px;
  cursor: pointer;
  font-weight: 700;
}
.accordion-active {
  height:auto;
}
#front .lunch .menu li h4 {
  font-weight: 700;
}
#front .lunch .menu li .desc {
  border-bottom: 1px solid #707070;
}
#front .lunch .menu li .price {
  text-align: right;
}

/*------------------------------------
ヘッダー
------------------------------------*/
header{
	width: 100%;
	position: fixed;
	top:0;
	left:0;
	background-color: var(--header);
	height:8rem;
}
header .container-m{
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	position: relative;
	z-index: 100;
}
header .container-m h1{
	font-size: 3rem;
	font-weight: 700;
	color: var(--font);
	display: block;
	width:20rem;
	line-height: 1;
}
header .container-m nav.pc li {
	margin:0 1rem;
}
header .container-m nav.pc li a{
	font-size: 1.4rem;
}
header .container-m nav.pc li.contact{
	background-color: var(--tertiary);
	padding: 4px 8px;
	margin-right: 0;
}
header .container-m nav.pc li.contact img{
	margin-right: 5px;
}

header .container-m nav.pc li.contact a{
	color:#fff;
}
header #pageTop{
	display: flex;
  justify-content: center;
	position: fixed;
	bottom:5rem;
	right:5rem;
	width: 5rem;
	height: 5rem;
	border-radius: 5rem;
	background-color: var(--topbtn);
	cursor: pointer;
}
/*------------------------------------
フッター
------------------------------------*/
footer{
	background-color: var(--primary);
	height:8rem;
}
footer .container-m,
footer .container-m ul{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}
footer .container-m li{
	margin-right: 1rem;
	line-height: 1;
}
footer .container-m li a,
footer .container-m p{
	font-size: 1.2rem;
	line-height: 2;
	font-weight: 700;
}
/* topボタンテスト用あとでけす */
main{
	min-height: 200vh;
}

/* front-page */
/* ファーストビュー */
#front .main-visual {
	background-color: var(--primary);
	background-image: url(../img/bg.png);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: contain;
}

#front .main-visual .container-s {
	padding-top: 10rem;
}

#front .main-visual .container-s .flex {
	justify-content: space-between;
	margin-top: 17vw;
}

#front .main-visual .container-s .flex .flex-item1 {
	width: 25%;
}

#front .main-visual .container-s .flex .flex-item2 {
	width: 70%;
}

#front .main-visual .container-s .flex .flex-item2 p {
	text-align: left;
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--font);
}

#front .main-visual .container-s .flex .flex-item2 h1 {
	font-size: 3.5rem;
	letter-spacing: 0.05em;
	color: var(--font);
	line-height: 0.8;
	font-weight: 700;
}

#front .main-visual .container-s > p {
	margin: 6.55vw 0;
	text-align: center;
	font-size: 6.5vw;
	font-weight: 700;
	color: var(--font);
}

#front .main-visual .container-s > a {
	margin: 0 auto;
	padding: 2vw 8vw;
	font-size: 4.0625vw;
	font-weight: 700;
	color: var(--white);
	background-color: var(--font);
	border-radius: 1.5rem;
	display: block;
}
