@charset "UTF-8";
.sp{
	display: block;
}
.sp.flex{
	display: flex;
}
.pc{
	display:none;
}

/*------------------------------------
ヘッダー
------------------------------------*/
header{
	background-color: var(--primary);
	height:6rem;
}

#drwBtn{
	width: 4rem;
	height: 4rem;
	position: relative;
	cursor: pointer;
}
#drwBtn span{
	position: absolute;
	left:0;
	width: 40px;
	height:4px;
	background-color: var(--tertiary);
	transition:.5s;
}

#drwBtn span:nth-child(1){
	top:9px;
}
#drwBtn span:nth-child(2){
	top:19px;
}
#drwBtn span:nth-child(3){
	top:29px;
}
#drwMenu{
	position: fixed;
	top:-320px;
	width: 100%;
	background-color: var(--primary);
	z-index: 50;
	transition:.5s;
}
#drwMenu li{
	width: 100%;
	border-bottom:1px solid #fff;
}
#drwMenu li a{
	font-size: 1.4rem;
	color:var(--tertiary);
	width:100%;
	height: 100%;
	padding:2rem 5%;
	display: flex;
}
#drwMenu li.contact {
	background-color: var(--tertiary);
}
#drwMenu li.contact a{
	color:#fff;
}
#drwMenu li.contact img{
	margin-right: 10px;
}
#drwBtn.active span:nth-child(1){
	transform: rotate(315deg);
	top:19px;
}
#drwBtn.active span:nth-child(2){
	opacity: 0;
}
#drwBtn.active span:nth-child(3){
	transform: rotate(-315deg);
	top: 19px;
}
#drwMenu.active{
	top:60px;
}
#drwArea{
	background-color: #00000044;
	position: fixed;
	width: 100%;
	height:100vh;
	display: none;
}
/*------------------------------------
フッター
------------------------------------*/
footer {
	height:6rem;
}
footer .container-m{
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
}
footer .container-m nav ul{
	justify-content: center;
}
footer .container-m nav ul li{
	margin:0 10px;
}
